body {
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100%;
}
.title {
  background-color: #872434;
  padding: 10px;
  color: #fff;
}
div.leaflet-popup-content table tr:nth-child(even) {
  background: #CEE;
}
div.leaflet-popup-content table tr:nth-child(odd) {
  background: #EEE;
}
div.leaflet-popup-content table td {
  padding: 10px, 10px, 10px, 10px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
div#sidebar .sidebarContent table {
  margin: 0 auto;
  width: 95%;
}
div#sidebar .sidebarContent table tr:nth-child(even) {
  background: #CEE;
}
div#sidebar .sidebarContent table tr:nth-child(odd) {
  background: #EEE;
}
